body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;

    .AppHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        font-size: 20px;
        background-color:lightseagreen; 

        .AppTitle {
            display: flex;
            width: 25vw;
            border-right: 1px solid rgb(6, 100, 53);
            justify-content: center;
            box-sizing: border-box;
            padding: 20px;
            letter-spacing: 2px;
        }

        .Room {
            display: flex;
            width: 75vw;
            justify-content: center;
            box-sizing: border-box;
            padding: 20px;   
        }
    }

    .AppBody {
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    
    .MessageWrapper {
        display: flex;
        flex-direction: column;
        width: 75vw;
        flex: 1;
    }
}