@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    overflow: hidden;
}

.AppHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid blue;
    font-weight: bold;
}

.AppTitle {
    display: flex;
    width: 25vw;
    border-right: 1px solid rgb(63, 206, 194);
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: blue;
    color: white;
}

.AppRoom {
    display: flex;
    width: 75vw;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    background-color:blue;
    color: white;
}

.AppBody {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.MessageWrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex: 1;
    background-color:lightblue;
}